.THIS .input-form{
  min-height: 500px;
}
.THIS .slds-grid {
  padding: 6px;
}
.THIS.ShareHolder {
  margin-left: 10px;
  float: right;
}
.THIS .slds-modal__footer {
  text-align: center;
}
.THIS .slds-modal__content{
  padding-left: 16px;
  padding-right:16px;
  height: 850px;
  width: 100%;
}
.THIS .slds-form-element__control{
  margin-left:0px;
}
.THIS .display_footer{
  display:block;
}