.THIS .input-form {
    min-height: 500px;
  }
  .THIS .slds-grid {
    padding: 6px;
  }
  .THIS.ShareHolder {
    margin-left: 10px;
    float: right;
  }
  .THIS .slds-modal__footer {
    text-align: center;
  }
  /* .THIS .page-1{
    padding-top: 0px;
  }
  .THIS .page-2{
    padding-top:9px;
  } */
.THIS .slds-modal__content{
    padding-left: 16px;
    padding-right:16px;
    /* height:700px; */
  }
  .THIS .display_footer{
    display:block;
  }
  .THIS .slds-form-element__control{
    margin-left:0px;
}